.logo{
	width: 100px;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 30px;
}
.d-block{
	display: inline-block;
}
.navigation-li{
	color: #3D58A6;
	font-size: 22px;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 50px;
}
span{
	color:#EE4036;
}
.image1{
	margin-top: 80px;
	margin-left: 98px;
}
.main-box{
	margin-top: 125px;
	margin-left: 98px;
}
.wraper{
	width: 1170px;
}
.box{
	width: 570px;
	background: #F2F2F2;
	margin: 6px;
}
.inbox-h3{
	width: 270px;
	font-size: 22px;
	margin-top: 16px;
}
.divigation-p{
	width: 355px;
	vertical-align: top;
	margin-top: 18px;
	margin-left: 60px;
	font-size: 20px;
}
.box-image{
	vertical-align: top;
	margin-top: 18px;
	margin-bottom: 40px;
	margin-left: 40px;
}
.inbox-h3-1{
	margin-top: 16px;
	font-size: 22px;
	width: 208px;
}
.divigation-h3{
	font-size: 24px;
	margin-bottom: 36px;
}
.diveder{
	width: 3px;
	height: 30px;
	margin: 35px;
}
.logo1{
	width: 100px;
}
.divigation-box{
	background: #3D58A6;
	width: 56px;
	height: 56px;
	margin-top: 40px;
	margin-left: 30px;
}
div{
	color: #fff;
	font-size: 53px;
}
.paragrap-may{
	font-size: 22px;
	margin-top: 8px;
	margin-left: 30px;
	color: #3D58A6;
}
.article-p{
	vertical-align: top;
	margin-top: 22px;
	margin-left: 40px;
	width: 930px;
	height: 346px;
}
.article-img{
	vertical-align: top;
	margin-top: 22px;
	margin-left: 30px;
}
.article-h3{
	font-size: 20px;
	margin-top: 28px;
	margin-bottom: 22px;
	margin-left: 30px;
}